@media (max-width: 767px) {
    .text-right {
        text-align: center !important;
    }
}

#temp {
    color: rgb(78, 78, 78);
}
#temp:hover {
    cursor: pointer;
}

@media (max-width: 575px) {
    #searchForm .d-flex {
        flex-direction: column;
    }
}

.owl-dots {
    display: none;
}

.owl-nav {
    display: none;
}

.owl-navigation:hover {
    cursor: pointer;
}

.display-none {
    display: none !important;
}

.owl-navigation {
    display: flex;
    justify-content: space-between;
    height: auto;
    position: relative;
    top: -105px;
    z-index: 1;
}

.owl-navigation img {
    padding: 0 20px;
    width: 80px;
    height: auto;
}

.item {
    padding-bottom: 100px;
}